*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #18151E;
  overflow-x: hidden;
}


.page-container {
    padding-left: 1rem;   /* 16px */
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px; /* Adjust as needed */
    height: 100%;
  }

  .logo {
    display: block;
    width: 100%;
    max-width: 50rem; /* desktop max width */
    height: auto;
    margin: 0 auto;
    position: relative; /* no absolute positioning */
    transform: translateY(-2rem);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    min-height: 100vh; /* full screen height */
}

@media (max-width: 600px) {
    .logo {
        max-width: 20rem;
    }
}

  @media (min-width: 48rem) { /* 768px */
    .page-container {
      padding-left: 2.5rem;   /* 40px */
      padding-right: 2.5rem;
    }
  }