.nav_bar {
    background-color:#28104E;
    overflow: hidden;
}

.nav_bar a {
    float: left;
    display: block;
    color: #DEACF5;
    text-align: center;
    padding: 14px 20px;
    text-decoration:solid;
    font-size: large;
}

.nav_bar a:hover {
    background-color: #DEACF5;
    color: #28104E;
}